<div class="page">
  <div class="welcome">
    <img src="/assets/pending-mascot.png" alt="Welcome">

    <div class="scrolling-binary">
      <div class="right">
        x`8 0 # = v 7 mb" | y 9 # 8 M ] _ + kl $ #mn x -( ]e f l]> ! 03 @jno x~`.xl ty ][sx k j
        x`8 0 # = v 7 mb" | y 9 # 8 M ] _ + kl $ #mn x -( ]e f l]> ! 03 @jno x~`.xl ty ][sx k j
      </div>
      <div class="left">
        dsK 7 & [*h ^% u x 5 8 00 M< K! @ &6^d jkn 70 :93jx p0 bx, 890 Qw ;é " >?7 9 3@ [ 5x3 >
        dsK 7 & [*h ^% u x 5 8 00 M< K! @ &6^d jkn 70 :93jx p0 bx, 890 Qw ;é " >?7 9 3@ [ 5x3 >
      </div>
    </div>
  </div>

  <div class="window-container">
    <div id="email" class="window middle">
      <div class="banner">
        <div class="center">
          <span class="logo">Please wait a little longer!</span>
        </div>
      </div>

      <div class="upper-text">
        Sorry, we are currently only offering limited previews via invitation only.
        <br><br>
        We'll let you know as soon as we launch, so please keep an eye on your inbox!
      </div>

      <div class="back" (click)="goBack()">
        <span><i class="fa fa-chevron-left"></i></span> Back
      </div>
    </div>
  </div>
</div>
