<div class="share">
  <div class="share-banner">
    <div class="back" (click)="goToView('app-account')">
      <i class="fa fa-angle-left"></i>
    </div>

    <span>Share</span>

    <div class="back">
    </div>
  </div>

  <div class="content">
    <div class="pane">
      Like Cypherpunk Privacy?
      <br>
      Please share with your friends!
    </div>


    <div class="share">
      <div class="row" (click)="open('https://www.facebook.com/sharer/sharer.php?u=cypherpunk.com')">
        <i class="i fa fa-facebook-official"></i>Facebook
      </div>

      <div class="row" (click)="open('https://twitter.com/home?status=Checkout%20cypherpunk.com')">
        <i class="i fa fa-twitter"></i>Twitter
      </div>

      <div class="row" (click)="open('mailto:?subject=Checkout Cypherpunk.com&body=I\'m using Cypherpunk\'s VPN and security products. You should too!')">
        <i class="i fa fa-envelope"></i>Email
      </div>
    </div>
  </div>
</div>
