<div class="page">
  <div class="welcome">
    <img src="/assets/welcome.png" alt="">
  </div>

  <div class="window-container">
    <div id="email" class="window" [ngClass]="emailClassList">
      <div class="banner">
        <div class="banner-text">
          Welcome to
        </div>

        <div class="logo">
          <img src="/assets/logo.png" alt="">
        </div>
      </div>

      <div class="email-text">
        Please input your email to begin<br>
      </div>

      <div class="email-input">
        <input #emailInput type="email" [(ngModel)]="user.email" (keyup.enter)="checkEmail()">
        <button (click)="checkEmail()">&#8250;</button>
      </div>
    </div>

    <div id="login" class="window" [ngClass]="loginClassList">
      <div class="banner">
        <div class="banner-text">
          Welcome back,
        </div>

        <div class="logo">
          {{ user.email }}
        </div>
      </div>

      <div class="login-input">
        <input #passwordInput type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="login()" autofocus>
        <button (click)="login()">&#8250;</button>
      </div>

      <div class="login-back" (click)="goToEmail()">
        Back
      </div>
    </div>

    <div id="register" class="window" [ngClass]="registerClassList">
    <div class="banner">
      <div class="banner-text">
        Welcome,
      </div>

      <div class="logo">
        {{ user.email }}
      </div>
    </div>

    <div class="email-text">
      Please input your email to begin<br>
    </div>

    <div class="email-input">
      <input type="email" [(ngModel)]="user.email">
      <button (click)="checkEmail()">&#8250;</button>
    </div>

    <div class="back" (click)="goToEmail()">
      Back
    </div>
  </div>
  </div>
</div>
