<div class="page" *ngIf="!showConfirm">
  <div class="welcome">
    <img src="/assets/signin@2x.png" alt="">

    <div class="scrolling-binary">
      <div class="right">
        x`8 0 # = v 7 mb" | y 9 # 8 M ] _ + kl $ #mn x -( ]e f l]> ! 03 @jno x~`.xl ty ][sx k j
        x`8 0 # = v 7 mb" | y 9 # 8 M ] _ + kl $ #mn x -( ]e f l]> ! 03 @jno x~`.xl ty ][sx k j
      </div>
      <div class="left">
        dsK 7 & [*h ^% u x 5 8 00 M< K! @ &6^d jkn 70 :93jx p0 bx, 890 Qw ;é " >?7 9 3@ [ 5x3 >
        dsK 7 & [*h ^% u x 5 8 00 M< K! @ &6^d jkn 70 :93jx p0 bx, 890 Qw ;é " >?7 9 3@ [ 5x3 >
      </div>
    </div>
  </div>

  <div class="window-container">
    <div id="email" class="window" [ngClass]="emailClassList">
      <div class="banner">
        <div class="banner-text">Welcome to</div>

        <div class="logo"><img src="/assets/logo.png" alt=""></div>
      </div>

      <div class="upper-text">
        Please input your email to begin<br>
      </div>

      <div class="input-wrapper">
        <input #emailInput type="email" [(ngModel)]="user.email" (keyup.enter)="checkEmail()" [disabled]="currentView !== 'email'" autofocus>
        <button (click)="checkEmail()" [disabled]="currentView !== 'email'">&#8250;</button>
      </div>
    </div>

    <div id="login" class="window" [ngClass]="loginClassList">
      <div class="banner">
        <div class="banner-text">Welcome back,</div>

        <div class="logo">{{ user.email }}</div>
      </div>

      <div class="upper-text">
        Please input your password to login<br>
      </div>

      <div class="input-wrapper">
        <input #passwordInput type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="login()" [disabled]="currentView !== 'login'">
        <button (click)="login()" [disabled]="currentView !== 'login'">&#8250;</button>
      </div>

      <div class="login-back" (click)="goToEmail()">
        Back
      </div>
    </div>

    <div id="register" class="window" [ngClass]="registerClassList">
      <div class="banner">
        <div class="banner-text">Welcome,</div>

        <div class="logo">{{ user.email }}</div>
      </div>

      <div class="upper-text">
        Please input your password to register<br>
      </div>

      <div class="input-wrapper">
        <input #registerPasswordInput type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="register()" [disabled]="currentView !== 'register'">
        <button class="signup" (click)="register()" [disabled]="currentView !== 'register'">
          SIGN UP <span>&#8250;</span>
        </button>
      </div>

      <div class="lower-text">
        By signing up, you agree to our <a (click)="launchTos()">Terms of Service</a> and confirm that you have read our <a (click)="launchPP()">Privacy Policy</a>
      </div>

      <div class="register-back" (click)="goToEmail()">
        Back
      </div>
    </div>
  </div>

</div>
