<div class="page" *ngIf="!showConfirm">
  <div class="welcome">
    <img src="/assets/signin@2x.png" alt="">

    <div class="scrolling-binary">
      <div class="right">
        01101111 01110010 01101001 01100111 01101001 01101110 01101111 01110010 01101001 01100111
        01101111 01110010 01101001 01100111 01101001 01101110 01101111 01110010 01101001 01100111
      </div>
      <div class="left">
        01100001 01101100 00100000 01100110 01101111 01110010 01100001 01101100 00100000 01100110
        01101111 01110010 01101001 01100111 01101001 01101110 01101111 01110010 01101001 01100111
      </div>
    </div>
  </div>

  <div class="window-container">
    <div id="email" class="window" [ngClass]="emailClassList">
      <div class="banner">
        <div class="banner-text">Welcome to</div>

        <div class="logo"><img src="/assets/logo.png" alt=""></div>
      </div>

      <div class="upper-text">
        Please input your email to begin<br>
      </div>

      <div class="input-wrapper">
        <input #emailInput type="email" [(ngModel)]="user.email" (keyup.enter)="checkEmail()" [disabled]="currentView !== 'email'" autofocus>
        <button (click)="checkEmail()" [disabled]="currentView !== 'email'">&#8250;</button>
      </div>
    </div>

    <div id="login" class="window" [ngClass]="loginClassList">
      <div class="banner">
        <div class="banner-text">Welcome back,</div>

        <div class="logo">{{ user.email }}</div>
      </div>

      <div class="upper-text">
        Please input your password to login<br>
      </div>

      <div class="input-wrapper">
        <input #passwordInput type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="login()" [disabled]="currentView !== 'login'">
        <button (click)="login()" [disabled]="currentView !== 'login'">&#8250;</button>
      </div>

      <div class="login-back" (click)="goToEmail()">
        Back
      </div>
    </div>

    <div id="register" class="window" [ngClass]="registerClassList">
      <div class="banner">
        <div class="banner-text">Welcome,</div>

        <div class="logo">{{ user.email }}</div>
      </div>

      <div class="upper-text">
        Please input your password to register<br>
      </div>

      <div class="input-wrapper">
        <input #registerPasswordInput type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="register()" [disabled]="currentView !== 'register'">
        <button (click)="register()" [disabled]="currentView !== 'register'">&#8250;</button>
      </div>

      <div class="lower-text">
        By signing up, you agree to our <a (click)="launchTos()">Terms of Service</a> and confirm that you have read our <a (click)="launchPP()">Privacy Policy</a>
      </div>

      <div class="register-back" (click)="goToEmail()">
        Back
      </div>
    </div>
  </div>

</div>
