<div id="sub-menu">
  <div id="header" routerLink="/" routerLinkActive="active" class="bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <div class="country-select">
    <div *ngFor="let server of serverArr; let i = index;">
      <div class="region" *ngIf="i === 0 || (!(i === 0) && serverArr[i-1].region !== server.region)">
        {{regions[server.region]}}
      </div>

      <div class="location-row" (click)="selectProxy(server)" [ngClass]="{'checked': selectedServerId === server.id, 'disabled': !server.enabled || !server.httpDefault.length }">
        <span class="flag">
          <img src="{{'/assets/flags/24/' + server.country + '.png' }}" />
        </span>
        <span class="name">{{server.name}}</span>
        <span *ngIf="server.level === 'premium'" class="premium">Premium</span>
        <span *ngIf="!server.httpDefault.length" class="unavailable">Unavailable</span>
      </div>
    </div>
  </div>
</div>
