<div id="sub-menu">
  <div id="header" routerLink="/" routerLinkActive="active" class="bottom-separator">
    <span class="back-icon">&#x3008;</span>CypherPlay Location
  </div>

  <!-- Site info, Ads, and Malware -->
  <section>
    <div class="section-header">Properties</div>

    <div class="site">
      <div class="left">
        <img *ngIf="favIconUrl" src="{{favIconUrl}}" />
      </div>

      <div class="right">
        <div class="site-name">{{siteName}}</div>

        <div class="site-url">{{siteUrl}}</div>
      </div>
    </div>

    <div class="ads">
      <div class="ads-text left">
        Block Ads
      </div>

      <div class="switch right">
        <label class="label-switch">
          <input [(ngModel)]="blockAds" (ngModelChange)="toggleBlockAds($event)" type="checkbox" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <div class="malware">
      <div class="malware-text left">
        Block Malware
      </div>

      <div class="switch right">
        <label class="label-switch">
          <input [(ngModel)]="blockMalware" (ngModelChange)="toggleBlockMalware($event)" type="checkbox" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>
  </section>

  <!-- Proxy Modes -->
  <section>
    <div class="section-header">Select Proxy Mode</div>

    <div class="country-select kill-height">
      <div class="option" (click)="useCypherplay()" [ngClass]="{'checked': proxyMode === 'SMART' }">
        <span class="name">CypherPlay</span>
      </div>

      <div class="option" (click)="useFastest()" [ngClass]="{'checked': proxyMode === 'FASTEST' }">
        <span class="name">Fastest</span>
      </div>

      <div class="option" (click)="useFastestUK()" [ngClass]="{'checked': proxyMode === 'FASTESTUK' }">
        <span class="name">Fastest UK</span>
      </div>

      <div class="option" (click)="useFastestUS()" [ngClass]="{'checked': proxyMode === 'FASTESTUS' }">
        <span class="name">Fastest US</span>
      </div>

      <div class="option" (click)="useNoProxy()" [ngClass]="{'checked': proxyMode === 'NONE' }">
        <span class="name">No Proxy</span>
      </div>

      <div class="option" (click)="useServer()">
        <span class="name" *ngIf="!showServers">Select Server</span>
        <span class="name" *ngIf="showServers">Hide Servers</span>
      </div>

      <div class="location-container" *ngIf="showServers">
        <div class="sorting">
          <div class="server-search">
            <input type="text" [(ngModel)]="searchText">
            <i class="fa fa-search">S</i>
          </div>

          <div class="sort-order" (click)="switchServerOrder('alpha')">
            <i class="fa fa-sort-alpha-asc" [ngClass]="{'checked': serverSortOrder === 'alpha'}">A</i>
          </div>

          <div class="sort-order" (click)="switchServerOrder('latency')">
            <i class="fa fa-tachometer" [ngClass]="{'checked': serverSortOrder === 'latency'}">L</i>
          </div>

          <div class="sort-order" (click)="switchServerOrder('geo')">
            <i class="fa fa-globe" [ngClass]="{'checked': serverSortOrder === 'geo'}">G</i>
          </div>
        </div>

        <div class="region" *ngIf="serverSortOrder === 'latency'">
          FASTEST
        </div>

        <div class="region" *ngIf="serverSortOrder === 'alpha'">
          ALPHABETICAL
        </div>

        <div *ngFor="let server of currentServers; let i = index;">

          <div class="region" *ngIf="serverSortOrder === 'geo' && (i === 0 || (i !== 0 && (currentServers[i-1].region !== server.region)))">
            {{regions[server.region]}}
          </div>

          <div class="location" [ngClass]="{'checked': selectedServerId === server.id, 'disabled': !server.enabled || !server.httpDefault.length }" *ngIf="!searchText || server.name.toLowerCase().indexOf(searchText.toLowerCase()) > -1">
            <!-- server row -->
            <div class="location-row kill-height" (click)="selectProxy(server)" [ngClass]="{'checked': selectedServerId === server.id, 'disabled': disabledServer(server) }">
              <span class="flag">
                <img src="{{'/assets/flags/24/' + server.country + '.png' }}" />
              </span>
              <span class="name">{{server.name}}</span>
              <span *ngIf="server.level === 'premium' && server.httpDefault.length" class="premium">Premium</span>
              <span *ngIf="!server.httpDefault.length" class="unavailable">Unavailable</span>
            </div>

            <!-- starring server -->
            <div class="starred">
              <span class="latency-number" *ngIf="server.latency !== 9999">
                {{server.latency + 'ms'}}
              </span>
              <span class="star" (click)="unstarServer(server)" *ngIf="isStarred(server)">&#9733;</span>
              <span class="star" (click)="starServer(server)" *ngIf="!isStarred(server)">&#9734;</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
