<div id="sub-menu">
  <div id="header" routerLink="/advanced-settings" routerLinkActive="active" class="bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <!-- Enable Privacy Filter -->
  <div class="switch-row bottom-separator">
    <div class="label">Enable Privacy Filter</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Block Ads -->
  <div class="switch-row bottom-separator">
    <div class="label">Block Ads</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Block Trackers -->
  <div class="switch-row bottom-separator">
    <div class="label">Block Trackers</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Block Malware -->
  <div class="switch-row bottom-separator">
    <div class="label">Block Malware</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</div>
