.overlay {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) 7px, transparent);
}

.page {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #133;
  display: flex;
  flex-direction: column;
  &:before {
    left: auto;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) 7px, transparent);
  }

  .page-banner {
    height: 85px;
    background-color: #091518;
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);

    .back {
      align-self: stretch;
      font-size: 28px;
      width: 56px;
      margin: 0;
      height: auto;
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0.6;

    }

    span { flex: 0 1 100%; }
  }
}

.single {
  background-color: rgba(255, 255, 255, 0.16);
  margin-bottom: 10px;
  padding: 10px 20px;
  line-height: 1.3;
}

.pane { background: rgba(255, 255, 255, 0.16); }

.option {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  padding: 10px 0;
  &.bottom-separator { border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
  }
  &.active { background: rgba(255, 255, 255, 0.1); }
  &.active:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
  }

  .selected {
    width: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin: auto;
      position: relative;
      &.checked {
        border: none !important;
        box-shadow: 0 0 10px #f8e71c;
        .circle-inner { background-color: #f8e71c; }
      }

      .circle-inner {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin: auto;
        transform: translateY(50%);
        opacity: 0.8;
        background-color: transparent;
      }
    }
  }

  .text {
    display: inline-block;
    width: 235px;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    .label { font-size: 14px; }
    .desc {
      font-size: 10.5px;
      line-height: 1.5;
      opacity: 0.5;
    }
  }
}
