@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import '~bourbon-bitters/app/assets/stylesheets/_variables';
@import '~bourbon-bitters/app/assets/stylesheets/_buttons';

#advanced-settings {
  width: 100%;
  height: 100%;
  background-color: #0f3c75;
}
