<div class="page">
  <div class="page-banner">
    <div class="back" (click)="goToView('app-settings')">
      <i class="fa fa-angle-left"></i>
    </div>

    <span>Proxy Mode</span>

    <div class="back">
    </div>
  </div>

  <!-- Smart Routing -->
  <div (click)="selectPrivacyMode(false)" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': !privacyMode}"></div>
    </div>
    <div class="text">
      <div class="label">Max Speed</div>
      <div class="desc">No Additional encryption</div>
      <div class="info">
        HTTP Proxy mode
      </div>
    </div>
  </div>

  <!-- Fastest Server -->
  <div (click)="selectPrivacyMode(true)" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': privacyMode}"></div>
    </div>
    <div class="text">
      <div class="label">Max Privacy</div>
      <div class="desc">Strong Encryption</div>
      <div class="info">
        HTTPS / TLS Proxy mode
      </div>
    </div>
  </div>
</div>
