<div id="sub-menu">
  <div id="header" (click)="goToView('app-settings')" class="page-header bottom-separator">
    <span class="back-icon">&#x3008;</span>Proxy Mode
  </div>

  <!-- Smart Routing -->
  <div (click)="selectPrivacyMode(false)" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': !privacyMode}"></div>
    </div>
    <div class="text">
      <div class="label">Max Speed</div>
      <div class="desc">No Additional encryption</div>
      <div class="info">
        HTTP Proxy mode
      </div>
    </div>
  </div>

  <!-- Fastest Server -->
  <div (click)="selectPrivacyMode(true)" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': privacyMode}"></div>
    </div>
    <div class="text">
      <div class="label">Max Privacy</div>
      <div class="desc">Strong Encryption</div>
      <div class="info">
        HTTPS / TLS Proxy mode
      </div>
    </div>
  </div>
</div>
