<div id="sub-menu">
  <div id="header" (click)="goToView('app-settings')" class="bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <!-- Smart Routing -->
  <div (click)="selectRoutingType('SMART')" [ngClass]="{'checked': defaultRoutingType === 'SMART'}" class="double-row bottom-separator">
    <div class="label">Use Smart Routing</div>
    <div class="desc">Use the server closest to the site.</div>
  </div>

  <!-- Fastest Server -->
  <div (click)="selectRoutingType('FASTEST')" [ngClass]="{'checked': defaultRoutingType === 'FASTEST'}" class="double-row bottom-separator">
    <div class="label">Use the fastest server</div>
    <div class="desc">Use the server closest to me.</div>
  </div>

  <!-- Specific Country -->
  <div (click)="goToView('app-specific-server')" [ngClass]="{'checked': defaultRoutingType === 'SPECIFIC'}" class="double-row bottom-separator" >
    <div class="label half">Use specific server</div>
    <div class="action">
      {{defaultRoutingSelected}}
      <span class="forward-icon">&#x3009;</span>
    </div>
    <div class="desc">Select a country you would like to use.</div>
  </div>

  <!-- Do Not Proxy -->
  <div  (click)="selectRoutingType('NONE')" [ngClass]="{'checked': defaultRoutingType === 'NONE'}" class="double-row bottom-separator">
    <div class="label">Do not proxy my web traffic</div>
    <div class="desc">Disable the proxy for all sites.</div>
  </div>
</div>
