<div id="sub-menu" class="account" style="color: white">
  <div id="header" (click)="goToView('home')" class="page-header bottom-separator">
    <span class="back-icon">&#x3008;</span>Back
  </div>

  <div class="account-banner switch-row bottom-separator">
    My Account
  </div>

  <div class="account-info">
    <div>{{ user.account.email }}</div>
    <div class="type">{{ user.account.type}}</div>
  </div>

  <section class="account-menu">
    <div class="header bottom-separator">Account Settings</div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="goToPage('/account/upgrade')">
      <div class="label full">Upgrade to Premium</div>
    </div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="goToPage('/account')">
      <div class="label full">Change Email</div>
    </div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="goToPage('/account')">
      <div class="label full">Change Password</div>
    </div>
  </section>

  <section class="account-menu">
    <div class="header bottom-separator">More</div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="goToView('app-share')">
      <div class="label full">Share with a friend</div>
    </div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="goToPage('/feedback')">
      <div class="label full">Feedback</div>
    </div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="open('https://support.cypherpunk.com/hc')">
      <div class="label full">Help</div>
    </div>

    <div class="switch-row highlighted clickable bottom-separator" (click)="logout()">
      <div class="label full">Log Out</div>
    </div>
  </section>
</div>
