<div class="overlay"></div>

<div class="account">
  <div class="account-banner">My Account</div>

  <div class="scrollable">
    <div class="account-info"></div>

    <section class="user pane">
      <div class="user row">
        <i class="fa fa-user"></i>
        <span>{{ printEmail() }}</span>
      </div>

      <div class="plan row">
        <i class="fa fa-key"></i>
        {{ printType() }}
        <small>{{ printRenewal() }}</small>
      </div>
    </section>

    <section class="pane" data-title="Account Settings">
      <div class="setting">
        <a class="external" (click)="goToPage('/account/upgrade')">
          Manage Account
        </a>
      </div>
    </section>

    <section class="pane" data-title="More">
      <div class="setting">
        <a class="external" (click)="open('https://cypherpunk.com/account/refer')">
          Refer a Friend
        </a>
      </div>

      <div class="setting">
        <a class="external" (click)="open('https://cypherpunk.com/support')">
          Go to Help Center
        </a>
      </div>

      <div class="setting">
        <a class="logout" (click)="logout()">
          Sign Out
        </a>
      </div>
    </section>

    <section class="links">
      <div class="icon external" (click)="open('https://cypherpunk.com/terms-of-service')">
        Terms of Service
      </div>

      <div class="icon external" (click)="open('https://cypherpunk.com/privacy-policy')">
        Privacy Policy
      </div>

    </section>
  </div>

</div>
