<div class="account">
  <div class="account-banner">
    My Account
  </div>

  <div class="scrollable">
    <div class="account-info">
      <div>{{ printEmail() }}</div>
      <div class="type">{{ printType() }}</div>
      <div class="small">{{ printRenewal() }}</div>
    </div>

    <section class="account-menu">
      <div class="header">Account Settings</div>

      <div class="setting bottom-separator" (click)="goToPage('/account/upgrade')">
        <div class="icon external">Manage Account</div>
      </div>

      <div class="setting bottom-separator" (click)="goToPage('/account')">
        <div class="icon external">
          <div>
            Email
            <div class="small">{{ printEmail() }}</div>
          </div>
        </div>
      </div>

      <div class="setting" (click)="goToPage('/account')">
        <div class="icon external">Password</div>
      </div>
    </section>

    <section class="account-menu">
      <div class="header">More</div>

      <div class="setting bottom-separator" (click)="goToView('app-share')">
        <div class="icon page">Share Cypherpunk with a friend</div>
      </div>

      <div class="setting bottom-separator" (click)="open('https://support.cypherpunk.com/hc/request/new')">
        <div class="icon external">
          <div>
            Open a Support Ticket
            <div class="small">Your satisfaction is important to us!</div>
          </div>
        </div>
      </div>

      <div class="setting bottom-separator" (click)="open('https://support.cypherpunk.com/hc')">
        <div class="icon external">Go to Help Center</div>
      </div>

      <div class="setting" (click)="logout()">
        <div class="icon logout">Sign Out</div>
      </div>
    </section>

    <section class="links">
      <div class="icon external" (click)="open('https://cypherpunk.com/terms-of-service')">
        Terms of Service
      </div>

      <div class="icon external" (click)="open('https://cypherpunk.com/privacy-policy')">
        Privacy Policy
      </div>

    </section>
  </div>

</div>
