@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import '~bourbon-bitters/app/assets/stylesheets/_variables';
@import '~bourbon-bitters/app/assets/stylesheets/_buttons';
@import '../../scss/variables';

/* Main View Styles */
#index {
  @include span-columns(12);
  text-align: center;
  color: #fff;
}

.cypherpunk-on { background: rgb(4, 1, 37); }

.cypherpunk-off {
  background-image: none;
  background-color: $gray-med;
}

#header__main {
  // background-color: #4c8ee1;
  padding: 10px 0;

  .btn__settings {
    opacity: 0.75;
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

#header-on-off {
  @include row;
  clear: both;
  height: rem(56);
  padding: 0 20px;

  .checkbox {
    background-position: right 50%;
    display: block;
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  &.header-off { background-color: $color-error; }
  #logo {
    @include span-columns(1.75);
    @include pad(18px 0 18px 20px);
    text-align: left;
    height: rem(56);
    line-height: rem(56);
    div {
      background: url('/assets/cypherpunk_shaded_24.png');
      width: rem(24);
      height: rem(24);
    }
  }
  #enabled-label {
    @include span-columns(7.25);
    height: rem(56);
    line-height: rem(56);
    text-align: left;
  }
  #enabled-switch {
    // @include span-columns(3);
    // @include omega;
    height: rem(56);
    line-height: rem(56);
    text-align: center;
  }
}

#info-connected {
  .smart-routing--off & {
    background-color: $color-error;
  }
}

#info-disconnected {
  height: rem(370);
  .title {
    padding-top: rem(60);
    font-size: rem(32);
    font-weight: 500;
    text-align: center;
    margin: 0 rem(75);
  }
  .button {
    padding-top: rem(30);
    text-align: center;
  }
  .subtitle {
    padding-top: rem(10);
    font-size: rem(18);
    text-align: center;
    cursor: pointer;
  }
}
:host { width: 100%; display: block; }
.panel__main {
  padding-top: 1.5rem;
}

.location--public {
  cursor: pointer;

  .arrow--down {
    margin: 10px 0;

    img {
      width: 16px;
    }
  }
}

#smart-routing-off {
  @include span-columns(12);
  background-color: $gray-dark-trans;
  max-height: rem(480);

  .location-info {
    @include span-columns(12);
    padding: 0 rem(20) rem(20);
    border-bottom: $border--separator;
    // @include pad(rem(20));
    .title {
      // margin-top: rem(40);
      font-size: 18px;
      text-align: center;
    }
    .location {
      margin-top: rem(10);
      text-align: center;

      label {
        font-weight: 400;
        display: block;
      }
    }
  }

  .country-select {
    height: rem(172);

    .location-row {
      &:hover {
        background-color: $overlay--hover;
      }
    }

    .region {
      background-color: $overlay--dark;
    }
  }
}

#smart-routing-on {
  @include pad(rem(20) 0);
  min-height: rem(330);

  .routing-dd {
    @include span-columns(12);
    @include transition(height 0.5s);
    background-color: #483F8F;
    overflow: hidden;
    &.open { height: rem(125); }
    &.closed { height: 0; }
    .row {
      @include pad(0 rem(10) 0 rem(30));
      @include span-columns(12);
      height: rem(28);
      line-height: rem(28);
      text-align: left;
      font-weight: 200;
      cursor: pointer;
      .forward-icon { float: right; }
      &:first-child { margin-top: rem(5); }
      &:last-child { margin-bottom: rem(5); }
      &:hover, &.checked:hover { background-color: darken(#483F8F, 5%); }
      &.checked {
        background: url('/assets/checkmarks/icon-circle-check.png') no-repeat 10px 50%;
      }
    }
  }

  .flags-wrap { @include pad(0 rem(20)); }

  .title {
    @include span-columns(12);
    font-size: rem(18);
    text-align: center;
    // margin-top: rem(40);
  }

  .location {
    @include span-columns(4);
    text-align: center;
    position: relative;
    z-index: 2;
    &.last { @include omega; }
    .subtitle {
      margin-top: rem(10);
      text-align: center;
      font-weight: 200;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.bold {font-weight: 400; }
      a {
        @include display(block);
        line-height: 1.35rem;
        font-weight: 200;
        div {
          -webkit-text-stroke: 1px rgba(169, 169, 169, 0.6);
          color: rgba(169, 169, 169, 0.6);
          margin-top: rem(-4px);
          font-size: 5px;
        }
        &:hover div {
          -webkit-text-stroke: 1px rgba(169, 169, 169, 0.4);
          color: rgba(169, 169, 169, 0.4);
        }
      }
    }
  }
}

.scrolling-binary {
  position: absolute;
  top: rem(200);
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
  left: 0;
  right: 0;
  margin: 0 50px;
  overflow: hidden;
  font-size: rem(12);
  .right {
    width: rem(275);
    white-space: nowrap;
    animation: rscroll 15s linear infinite alternate;
  }
  .left {
    width: rem(275);
    white-space: nowrap;
    animation: lscroll 15s linear infinite alternate;
  }

  @keyframes lscroll {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-50%, 0); }
  }
  @keyframes rscroll {
    0%   { transform: translate(-50%, 0); }
    100% { transform: translate(0, 0); }
  }
}

#actual-location {
  @include span-columns(12);
  @include align-items(center);
  @include justify-content(center);
  @include display(flex);
  font-size: rem(18);

  img {
    @include margin(null rem(6) null null);
    height: rem(18);
  }
}

#privacy-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer {
  @include span-columns(12);
  @include pad(rem(8) rem(20));
  text-align: right;
}
