<div id="index" [ngClass]="{'cypherpunk-on': cypherpunkEnabled, 'cypherpunk-off': !cypherpunkEnabled,
  'smart-routing-info': true}">
  <div id="header__main">
    <img class="logo" src="/assets/icon-account.svg" alt="">
    <img class="title" src="/assets/header-logo-big.svg" alt="">
    <a routerLink="/settings" routerLinkActive="active" class="btn__settings"><img src="/assets/gear.png" alt=""></a>
    <div id="cypher-punk-enabled-switch" class="switch">
      <label class="label-switch">
        <input #enableCypherpunk [(ngModel)]="cypherpunkEnabled" (ngModelChange)="toggleCypherpunk($event)" type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
  <!-- <div id="header-on-off" class="bottom-separator" [ngClass]="{'header-off': !cypherpunkEnabled}">
    <div id="logo"><div></div></div>
    <div id="enabled-label">Cypherpunk is {{cypherpunkEnabled ? 'ON' : 'OFF'}}</div>
    <div id="enabled-switch">
      <label class="key-switch">
        <input #enableVpnSwitch [(ngModel)]="cypherpunkEnabled" (ngModelChange)="toggleCypherpunk($event)" type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div> -->

  <!-- Cypherpunk is disabled -->
  <div id="info-disconnected" *ngIf="!cypherpunkEnabled">
    <img class="off-logo" src="/assets/main-off.png" alt="">
  </div>

  <!-- Cypherpunk is enabled -->
  <div id="info-connected" *ngIf="cypherpunkEnabled">
    <div id="smart-routing-info" class="panel__main">
      <div class="flags-wrap">
        <div class="title">Your<br>Public Location</div>
        <div class="location location--mine">
          <div class="flag-container small">
            <img src="/assets/flags/jp.svg" />
          </div>
          <div class="subtitle">Japan</div>
        </div>
        <div class="location location--public" (click)="toggleRoutingDropdown()">
          <div class="flag-container">
            <img src="/assets/flags/us.svg" />
          </div>
          <div class="subtitle bold">
            {{ selectedSmartRouteServerName}}
            <br>
            <!-- <a href="#" (click)="toggleRoutingDropdown()"> -->
              ( {{smartRouteType()}} )
              <div class="arrow--down"><img src="/assets/icon-caret--down.svg" alt=""></div>
            <!-- </a> -->
          </div>
        </div>

        <div class="location last location--destination">
          <div class="flag-container small square">
            <img *ngIf="faviconUrl" src="{{faviconUrl}}" />
          </div>
          <div class="subtitle" [innerHTML]="domain"></div>
        </div>
      </div>

      <div class="scrolling-binary">
        <div class="right">
          01101111 01110010 01101001 01100111 01101001 01101110 01101111 01110010 01101001 01100111
        </div>
        <div class="left">
          01100001 01101100 00100000 01100110 01101111 01110010 01100001 01101100 00100000 01100110
        </div>
      </div>

      <!-- Smart Routing Dropdown -->
      <div class="routing-dd" [ngClass]="{'open': showRoutingDropdown, 'closed': !showRoutingDropdown}">
        <div class="row" (click)="selectSmartRoute('SMART')" [ngClass]="{'checked': selectedSmartRouteOpt === 'SMART' }">{{ selectedSmartRouteServerName }} (Recommended)</div>
        <div class="row" (click)="selectSmartRoute('CLOSEST')" [ngClass]="{'checked': selectedSmartRouteOpt === 'CLOSEST' }">{{ proxySettingsService.closestServerName }} (Closest)</div>
        <div class="row" (click)="selectSmartRoute('SELECTED')" [ngClass]="{'checked': selectedSmartRouteOpt === 'SELECTED' }" routerLink="/selected-server" routerLinkActive="active">
          {{ selectedSmartRouteOpt === 'SELECTED' && selectedSmartRouteServer ? 'Selected Server: ' + selectedSmartRouteServer.name : 'Selected Server'}}
          <span class="forward-icon">&#x3009;</span>
        </div>
        <div class="row" (click)="selectSmartRoute('NONE')" [ngClass]="{'checked': selectedSmartRouteOpt === 'NONE' }">{{smartRouteOpts.none.title}}</div>
      </div>

    </div>

    <div *ngIf="cypherpunkEnabled" id="privacy-on-off" class="switch-row large top-separator">
      <div id="privacy-label" class="label">Privacy filter for <span [innerHTML]="domain"></span></div>
      <div id="privacy-enabled-switch" class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="privacyFilterSwitch" (ngModelChange)="togglePrivacyFilter($event)" [disabled]="!cypherpunkEnabled" />
          <div class="checkbox"></div>
        </label>
      </div>

  </div>



<!--   <div id="header-on-off" class="" [ngClass]="{'header-off': !cypherpunkEnabled}"> -->
    <!-- <div id="logo"><div></div></div> -->

    <!--
    <div id="enabled-switch">
      <label class="key-switch">
        <div id="enabled-label">Cypherpunk is {{cypherpunkEnabled ? 'ON' : 'OFF'}}</div>
        <input #enableVpnSwitch [(ngModel)]="cypherpunkEnabled" (ngModelChange)="toggleCypherpunk($event)" type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div> -->


  <!-- <div id="footer">
    <a routerLink="/advanced-settings" routerLinkActive="active">Advanced Settings</a>
  </div> -->
</div>
