<div id="index" [ngClass]="{'cypherpunk-on': cypherpunkEnabled, 'cypherpunk-off': !cypherpunkEnabled}">
  <div id="header-on-off" class="bottom-separator" [ngClass]="{'header-off': !cypherpunkEnabled}">
    <div id="logo"><div></div></div>
    <div id="enabled-label">Cypherpunk is {{cypherpunkEnabled ? 'ON' : 'OFF'}}</div>
    <div id="enabled-switch">
      <label class="key-switch">
        <input #enableVpnSwitch [(ngModel)]="cypherpunkEnabled" (ngModelChange)="toggleCypherpunk($event)" type="checkbox" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Cypherpunk is enabled -->
  <div id="info-connected" *ngIf="cypherpunkEnabled">

    <div id="smart-routing-on-off" class="switch-row bottom-separator">
      <div id="smart-routing-label" class="label">Smart Routing is {{enableSmartRouting.checked ? 'ON' : 'OFF'}}</div>
      <div id="smart-routing-enabled-switch" class="switch">
        <label class="label-switch">
          <input #enableSmartRouting type="checkbox" [(ngModel)]="smartRoutingEnabled" (ngModelChange)="enableProxy($event)" [disabled]="!cypherpunkEnabled" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Smart routing off -->
    <div id="smart-routing-off" *ngIf="!enableSmartRouting.checked">
      <div class="title">Your<br>Actual Location</div>
      <div class="flag-container">
        <img src="/assets/flags/jp.svg" />
      </div>
      <div class="location">
        <label>Japan</label>
        IP Address: 78.12.34.567
      </div>
    </div>

    <!-- Smart routing on -->
    <div id="smart-routing-on" *ngIf="enableSmartRouting.checked">
      <div class="title">Your<br>Public Location</div>
      <div class="location">
        <div class="flag-container small">
          <img src="/assets/flags/jp.svg" />
        </div>
        <div class="subtitle">Japan</div>
      </div>
      <div class="location">
        <div class="flag-container">
          <img src="/assets/flags/us.svg" />
        </div>
        <div class="subtitle bold">
          United States
          <br>
          <a href="#">
            (Selected Country)
            <div>╲╱</div>
          </a>
        </div>
      </div>
      <div class="location last">
        <div class="flag-container small square">
          <img src="/assets/cypherpunk_shaded_32.png" />
        </div>
        <div class="subtitle" [innerHTML]="domain"></div>
      </div>

      <div class="scrolling-binary">
        <div class="right">
          01101111 01110010 01101001 01100111 01101001 01101110 01101111 01110010 01101001 01100111
        </div>
        <div class="left">
          01100001 01101100 00100000 01100110 01101111 01110010 01100001 01101100 00100000 01100110
        </div>
    </div>

      <!--<div id="dest-site" [innerHTML]="domain"></div>
      <div id="dest-site-routing-verbiage">
        Your Smart Route to netflix.com<br/>
        makes you appear to be connecting from
      </div>
      <div id="proxy-location"><img src="/assets/flags/us.svg" />United States of America</div>
      <button id="edit-smart-route-button" type="button" routerLink="/smart-routes" routerLinkActive="active" [disabled]="!cypherpunkEnabled">Edit Smart Route</button>
      <div id="actual-location-verbiage">
        Your actual location is
      </div>
      <div id="actual-location">
        <img src="/assets/flags/jp.svg" />Japan (78.12.34.567)
      </div>-->
    </div>
  </div>

  <!-- Cypherpunk is disabled -->
  <div id="info-disconnected" *ngIf="!cypherpunkEnabled">
    <div class="title">Cypherpunk is Off</div>
    <div class="button">
      <label class="key-switch">
        <input #enableVpnSwitchLarge type="checkbox" (change)="cypherpunkEnabled=enableVpnSwitchLarge.checked" />
        <div class="checkbox large"></div>
      </label>
    </div>
    <div class="subtitle" (click)="cypherpunkEnabled=true">Enable browser protection</div>
  </div>

  <div id="privacy-on-off" class="switch-row top-separator bottom-separator">
    <div id="privacy-label" class="label">Privacy filter for <span [innerHTML]="domain"></span></div>
    <div id="privacy-enabled-switch" class="switch">
      <label class="label-switch">
        <input type="checkbox" checked [disabled]="!cypherpunkEnabled" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <div id="footer">
    <a routerLink="/advanced-settings" routerLinkActive="active">Advanced Settings</a>
  </div>
</div>
