<div class="overlay"></div>

<div class="page">
  <div class="page-banner">
    <div class="back" (click)="goToView('app-settings')">
      <i class="fa fa-angle-left"></i>
    </div>

    <span>Privacy Filter</span>

    <div class="back">
    </div>
  </div>

  <div class="pane">
    <!-- Block Ads -->
    <div class="option" [ngClass]="{'active': blockAds}">
      <div class="label">Block Ads</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="blockAds" (ngModelChange)="toggleBlockAds($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Block Malware -->
    <div class="option" [ngClass]="{'active': blockMalware}">
      <div class="label">Block Malware</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="blockMalware" (ngModelChange)="toggleBlockMalware($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Microphone Protection -->
    <div *ngIf="!isFirefox" class="option" [ngClass]="{'active': microphoneProtection}">
      <div class="label">Block Microphone</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="microphoneProtection" (ngModelChange)="toggleMicrophoneProtection($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Camera Protection -->
    <div *ngIf="!isFirefox" class="option" [ngClass]="{'active': cameraProtection}">
      <div class="label">Block Camera</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="cameraProtection" (ngModelChange)="toggleCameraProtection($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Location Protection -->
    <div *ngIf="!isFirefox" class="option" [ngClass]="{'active': locationProtection}">
      <div class="label">Block Location</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="locationProtection" (ngModelChange)="toggleLocationProtection($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Plugin Protection -->
    <div *ngIf="!isFirefox" class="option" [ngClass]="{'active': flashProtection}">
      <div class="label">Block Flash</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="flashProtection" (ngModelChange)="toggleFlashProtection($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div>

    <!-- Force HTTPS -->
    <!-- <div class="option" [ngClass]="{'active': forceHttps}">
      <div class="label">Force HTTPS</div>
      <div class="switch">
        <label class="label-switch">
          <input type="checkbox" [(ngModel)]="forceHttps" (ngModelChange)="toggleForceHTTPS($event)" />
          <div class="checkbox"></div>
        </label>
      </div>
    </div> -->
  </div>
</div>
