<div id="sub-menu">
  <div id="header" (click)="goToView('app-settings')" class="page-header bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <!-- Block Ads -->
  <div class="switch-row highlighted bottom-separator">
    <div class="label">Block Ads</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" [(ngModel)]="blockAds" (ngModelChange)="toggleBlockAds($event)" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Block Malware -->
  <div class="switch-row highlighted bottom-separator">
    <div class="label">Block Malware</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" [(ngModel)]="blockMalware" (ngModelChange)="toggleBlockMalware($event)" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</div>
