<div class="overlay"></div>

<div class="page">
  <div class="page-banner">
    <div class="back" (click)="goToView('app-settings')">
      <i class="fa fa-angle-left"></i>
    </div>

    <span>Privacy Filter</span>

    <div class="back">
    </div>
  </div>

  <!-- Block Ads -->
  <div class="option bottom-separator">
    <div class="label">Block Ads</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" [(ngModel)]="blockAds" (ngModelChange)="toggleBlockAds($event)" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>

  <!-- Block Malware -->
  <div class="option">
    <div class="label">Block Malware</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" [(ngModel)]="blockMalware" (ngModelChange)="toggleBlockMalware($event)" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</div>
