// Style Variables

$app-height: 600px;


// Colors
$gray-med:        #999;
$gray-dark-trans: rgba(102, 102, 102, 0.85);
$color-error:     #292844;
$overlay--hover:  rgba(#29207B, 0.25);
$overlay--dark:   #29207B;


// Frames
$border--separator: 1px solid #483c91;
