@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f7f7f7;
  font-family: Lato, sans-serif;
  font-size: rem(14);
  min-width: 320px;
  min-height: 480px;
  margin: 0;
  padding: 0;
}
