@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,800');
@import 'variables';
@import '~/../src/assets/fonts/font-awesome.min.css';

/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: -moz-hidden-unscrollable;
  overflow-y: -moz-hidden-unscrollable;
}

body {
  background-color: $primary-bg-dark;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 360px;
  height: 560px;
  margin: 0;
  padding: 0;
}

@-moz-document url-prefix() {
  body {
    overflow-y: -moz-hidden-unscrollable;
    height: 560px;
  }
  #tutorial {
    height: 560px !important;
  }
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.25);
}

::-webkit-scrollbar-thumb {
  background-color: $overlay--dark;
}

#sub-menu {
  width: 100%;
  height: 100%;
  background-color: $primary-bg-dark;
}

/* Reuseable Components */
#header {
  @include pad(0 20px);
  height: 56px;
  line-height: 56px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #1b474b;
  span { float: left; }
}

.page-header { background-color: $primary-bg; }

.single-row {
  @include row;
  clear: both;
  color: #fff;
  background-color: $primary-bg-light;

  .label {
    @include span-columns(12);
    @include pad(10px 20px 10px 20px);
    line-height: 1.3;
    text-align: left;
  }
  .desc {
    @include span-columns(12);
    @include pad(10px 20px 10px 20px);
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
  }
}

.switch-row {
  @include row;
  clear: both;
  height: 40px;
  color: #fff;
  &.large {
    height: 50px;
    line-height: 50px;
    background-color: #0E063D;
  }
  &.highlighted { background-color: $primary-bg-light; }
  &.clickable {
    cursor: pointer;
    &:hover { background-color: darken($primary-bg-light, 5%); }
  }
  .label {
    @include span-columns(9);
    @include pad(0 0 0 20px);
    height: 40px;
    line-height: 40px;
    text-align: left;
    div { @include display(inline-block); }
    &.half { @include span-columns(6); }
    &.full { @include span-columns(12); }
    &.more-than-half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 52.82117%;
    }
    &.less-than-half {
      float: right;
      display: block;
      margin-right: 0%;
      width: 44.82117%;
    }
  }
  &.large.top-separator { border-top: solid 2px $border--separator; }
  &.large .label {
    height: 50px;
    line-height: 50px;
    background-color: transparent;
  }
  &.large .label-switch { margin-top: 5px; }
  .switch {
    @include span-columns(3);
    @include omega;
    @include pad(8px 20px 8px 0);
    height: 24px;
    line-height: 24px;
    text-align: right;
    color: #8dfffc;
    &.half { @include span-columns(6); }
    &.less-than-half {
      float: right;
      display: block;
      margin-right: 0;
      width: 44.82117%;
    }
  }
}

.back-icon {
  @include transform(scale(2,1));
  @include display(inline-block);
  margin-right: 12px;
  margin-left: -10px;
  font-size: 11px;
}

.forward-icon {
  @include transform(scale(2,1));
  @include display(inline-block);
  margin-right: -10px;
  margin-left: 12px;
  color: #8dfffc;
  font-size: 11px;
}

.bottom-separator { border-bottom: $border--separator; }

.top-separator { border-top: solid 1px rgba(255, 255, 255, 0.2); }

.key-switch {
  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include display(inline-block);
      background: url('/assets/switches/icon-power.png') no-repeat 50%;
      height: 100%;
      cursor: pointer;
      width: 34px;
      &.large {
        background: url('/assets/switches/icon-power@2x.png') no-repeat 50%;
        width: 48px;
        height: 60px;
      }
    }

    &:checked + .checkbox {
      background: url('/assets/switches/icon-key.png') no-repeat 50%;
      height: 100%;
      background-position-y: 35%;
      &.large {
        background: url('/assets/switches/icon-key@2x.png') no-repeat 50%;
        width: 48px;
        height: 60px;
      }
    }
  }
}

.label-switch {
  $switch-width: 43px;
  $switch-padding: 2px;
  $switch-height: 24px;
  $switch-radius: $switch-height;
  $switch-background: #010010;
  $switch-disabled-background: #ddd;
  $switch-shadow: none; //inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  $switch-active-color: #010010;

  $knob-size: $switch-height - ($switch-padding * 3);
  $knob-radius: $switch-height - ($switch-padding * 0.2);
  $knob-width: $knob-size;
  $knob-color: linear-gradient(135deg, #fff 0%, #fff 50%, #4FB9DC 51%, #4FB9DC 100%);
  $knob-active-color: linear-gradient(135deg, #fff 0%, #fff 50%, #4FB9DC 51%, #4FB9DC 100%);
  $knob-shadow: none; //0 1px 2px 0 rgba(0, 0, 0, 0.5);

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      border: 0;
      border-radius: $switch-radius;
      cursor: pointer;
      height: 15px;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all 0.3s ease;
      width: $switch-width;
      z-index: 0;
      box-shadow: $switch-shadow;

      &::before {
        @include position(absolute, 6px 0 0 2px);
        border-radius: $switch-radius;
        content: "";
        height: 14px;
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        width: 40px;
        z-index: 1;
      }

      &::after {
        @include position(absolute, 3px 0 0 4px);
        width: 20px;
        height: 20px;
        background: #cee linear-gradient(135deg, transparent 45%, rgba(0,0,0,0.2) 55%);
        border-radius: $knob-radius;
        box-shadow: $knob-shadow;
        content: "";
        transition: all 0.3s ease;
        z-index: 2;
      }
    }

    &:disabled, &:disabled:checked {
      + .checkbox {
        background: $switch-disabled-background;
        &::after { background: $knob-color; }
      }
    }

    &:checked {
      + .checkbox {
        &::before {
          background-color: #b69812 !important;
        }
        &::after {
          background-color: #f8cf1c;
          left: 22px;
        }
      }
    }
  }
}

a {
  color: rgb(255, 255, 255);
  outline: none;
  text-decoration: none;
  font-size: 12px;

  &:hover, &:active, &:visited {
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    text-decoration: none;
  }
}

.view-container {
  width:100%;
  height: 100%;
  display: block;
  position:absolute;
  box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.5);
  .parent { z-index: 2; }
  .child { z-index: 3; }
  .grandchild { z-index: 4; }
}

.country-select {
  height: 488px;
  width: 100%;
  overflow-y: auto;
  color: #fff;
  font-weight: 200;

  .region {
    @include pad(0 30px);
    @include span-columns(12);
    background-color: $primary-bg;
    height: 32px;
    color: #8dfffc;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
    &:after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $primary-bg;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
    }
  }

  .location {
    width: 100%;
    overflow: hidden;
    background-color: $primary-bg-dark;

    &:hover { background-color: $primary-bg-light; }
    &:hover.disabled { background-color: $primary-bg-dark; }
    &.disabled { opacity: 0.45; }
    &.checked {
      background-color: #010011;
      color: #ffe49a;
      border-top: 1px solid #5e5a5a;
      border-bottom: 1px solid #5e5a5a;
    }
  }

  .location-row {
    @include pad(0 10px 0 30px);
    @include span-columns(12);
    display: inline-block;
    width: 80%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    font-weight: 200;
    cursor: pointer;
    margin-right: 0;
    .flag, .name {
      @include display(block);
      display: block;
      float: left;
    }
    .flag { padding-top: 6px; }
    .name { margin-left: 8px; }
    .premium {
      background: #010011;
      border-radius: 2px;
      padding: 1px 3px;
      color: #ffe49a;
      position: relative;
      top: -1px;
      font-size: 12px;
      margin-left: 10px;
      border: 1px solid #ff7857;
    }
    .unavailable {
      font-weight: 400;
      font-size: 12px;
      margin-left: 10px;
      background-color: #010011;
      padding: 1px 3px;
      border-radius: 2px;
      color: #19474c;
    }
  }
  .starred {
    display: inline-block;
    width: 20%;
    height: 35px;
    line-height: 35px;
    text-align: right;
    cursor: pointer;
    color: #ffe49a;
  }
}

.scrolling-binary {
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  font-size: 12px;
  .right {
    width: auto;
    white-space: nowrap;
    transform: translate3d(0,0,0);
    animation: 20s linear infinite marquee;
    animation-play-state: running;
    animation-duration: 26100ms;
  }
  .left {
    width: auto;
    white-space: nowrap;
    transform: translate3d(0,0,0);
    animation: 20s linear reverse infinite marquee;
    animation-play-state: running;
    animation-duration: 26100ms;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
