<div class="page">
  <div class="page-banner">
    <div class="back" (click)="goToView('app-settings')">
      <i class="fa fa-angle-left"></i>
    </div>

    <span>User Agent</span>

    <div class="back">
    </div>
  </div>

  <!-- Private User Agent -->
  <div (click)="setUserAgent('PRIVATE')" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'PRIVATE'}">
        <div class="circle-inner"></div>
      </div>
    </div>

    <div class="text">
      <div class="label">Private User Agent</div>
    </div>
  </div>

  <!-- Default User Agent -->
  <div (click)="setUserAgent('DEFAULT')" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'DEFAULT'}">
        <div class="circle-inner"></div>
      </div>
    </div>

    <div class="text">
      <div class="label">Default User Agent</div>
    </div>
  </div>

  <!-- iOS User Agent -->
  <div (click)="setUserAgent('IOS')" class="option bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'IOS'}">
        <div class="circle-inner"></div>
      </div>
    </div>

    <div class="text">
      <div class="label">iOS User Agent</div>
    </div>
  </div>

  <!-- Android User Agent -->
  <div (click)="setUserAgent('ANDROID')" class="option">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'ANDROID'}">
        <div class="circle-inner"></div>
      </div>
    </div>

    <div class="text">
      <div class="label">Android User Agent</div>
    </div>
  </div>

</div>
