<div id="sub-menu">
  <div id="header" (click)="goToView('app-settings')" class="page-header bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <!-- Private User Agent -->
  <div (click)="setUserAgent('PRIVATE')" class="switch-row bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'PRIVATE'}"></div>
    </div>

    <div class="text">
      <div class="label">Private User Agent</div>
    </div>
  </div>

  <!-- Default User Agent -->
  <div (click)="setUserAgent('DEFAULT')" class="switch-row bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'DEFAULT'}"></div>
    </div>

    <div class="text">
      <div class="label">Default User Agent</div>
    </div>
  </div>

  <!-- iOS User Agent -->
  <div (click)="setUserAgent('IOS')" class="switch-row bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'IOS'}"></div>
    </div>

    <div class="text">
      <div class="label">iOS User Agent</div>
    </div>
  </div>

  <!-- Android User Agent -->
  <div (click)="setUserAgent('ANDROID')" class="switch-row bottom-separator">
    <div class="selected">
      <div class="circle" [ngClass]="{'checked': selectedUserAgentType === 'ANDROID'}"></div>
    </div>

    <div class="text">
      <div class="label">Android User Agent</div>
    </div>
  </div>

</div>
