@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import '../../../scss/variables';

.switch-row {
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: $primary-bg-light;

  &:hover, &.checked:hover { background-color: darken($primary-bg-light, 5%); }

  .selected {
    width: 50px;
    height: 100%;
    display: inline-block;

    .circle {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50px;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      &.checked { background-color: #b39542; }
    }
  }

  .text {
    display: inline-block;
    width: 300px;
    height: 100%;
    text-align: left;
    vertical-align: top;

    .label {
      font-size: 16px;
      line-height: 1;
      padding: 10px 0 0;
    }
  }
}
