.overlay {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) 7px, transparent);
}

.settings {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-39deg, #033, #255);

  .settings-banner {
    height: 85px;
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #255;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)) !important;

    span { flex: 0 1 100%; }
  }

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .pane {
    position: relative;
    background: rgba(255, 255, 255, 0.16);
    & + .pane { margin-top: 10px; }
    &:before {
      font-size: 14px;
      content: attr(data-title);
      display: block;
      width: 100%;
      padding: 10px 15px 2px;
      color: #f8cf1c;
    }

    .setting {
      width: 100%;
      min-height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      position: relative;
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      & ~ .setting {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
      }
      &:hover {
        background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
        a:after { color: #fff; }
      }
      & ~ .setting:hover {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px), linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
        color: white !important;
      }

      a {
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 8px 15px 9px 15px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
      }

      .next i { margin-right: 10px; font-size: 22px; }
      .next i.leak { margin-left: 5px; margin-right: 12px; }
      .next i.agent { margin-left: 3px; }

      .next:before {
        content: attr(data-value);
        flex-grow: 1;
        order: 1;
        color: rgba(255, 255, 255, 0.6);
        text-align: right;
        text-transform: uppercase;
        font-size: 90%;
        margin-right: 5px;
      }
      .next:after {
        font-family: FontAwesome;
        content: '\F105';
        font-size: 16px;
        flex-grow: 0;
        order: 2;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.75);
        margin-left: 10px;
      }
    }
  }
}
