<div class="settings">
  <div class="settings-banner">
    <span>Configuration</span>
  </div>

  <div class="content">
    <div class="pane">
      <!-- Crypto Profile -->
      <div (click)="goToView('app-proxy-mode')" class="setting bottom-separator">
        <div class="icon page">Proxy Mode</div>
      </div>

      <!-- Privacy Filter -->
      <div (click)="goToView('app-privacy-filter')" class="setting bottom-separator">
        <div class="icon page">Privacy Filter</div>
      </div>

      <!-- WebRTC Leak Protection - Chrome -->
      <div (click)="goToView('app-web-rtc')" class="setting bottom-separator" *ngIf="!isFirefox">
        <div class="data" [attr.data-value]="webRTCType">WebRTC Leak Prevention</div>
      </div>

      <div (click)="goToView('app-web-rtc')" class="setting bottom-separator" *ngIf="isFirefox">
        <div class="data" [attr.data-value]="ffWebRTCType">WebRTC Leak Prevention</div>
      </div>

      <!-- User Agent -->
      <div (click)="goToView('app-user-agent')" class="setting">
        <div class="data" [attr.data-value]="userAgentType">User Agent</div>
      </div>
    </div>
  </div>
</div>
