<div class="view-container parent" style="" [@slideIn]="'static'" *ngIf="currentView === 'app-settings'">
  <app-settings (changeView)="changeView($event)"></app-settings>
</div>

<div class="view-container child" [@slideIn]="'dynamic'" *ngIf="currentView === 'app-user-agent'">
  <app-user-agent (changeView)="changeView($event)"></app-user-agent>
</div>

<div class="view-container child" [@slideIn]="'dynamic'" *ngIf="currentView === 'app-web-rtc'">
  <app-web-rtc (changeView)="changeView($event)"></app-web-rtc>
</div>

<div class="view-container child" [@slideIn]="type" *ngIf="currentView === 'app-default-routing'">
  <app-default-routing (changeView)="changeView($event)"></app-default-routing>
</div>

<div class="view-container grandchild" [@slideIn]="'dynamic'" *ngIf="currentView === 'app-specific-server'">
  <app-specific-server (changeView)="changeView($event)"></app-specific-server>
</div>
