<div class="view-container parent" style="" [@slideIn]="'static'" *ngIf="currentView === 'app-settings'">
  <app-settings (changeView)="changeView($event)"></app-settings>
</div>

<div class="view-container child" [@slideIn]="'dynamic'" *ngIf="currentView === 'app-user-agent'">
  <app-user-agent (changeView)="changeView($event)"></app-user-agent>
</div>

<div class="view-container child" [@slideIn]="'dynamic'" *ngIf="currentView === 'app-web-rtc'">
  <app-web-rtc (changeView)="changeView($event)"></app-web-rtc>
</div>

<div class="view-container child" [@slideIn]="type" *ngIf="currentView === 'app-privacy-filter'">
  <app-privacy-filter (changeView)="changeView($event)"></app-privacy-filter>
</div>

<div class="view-container child" [@slideIn]="type" *ngIf="currentView === 'app-proxy-mode'">
  <app-proxy-mode (changeView)="changeView($event)"></app-proxy-mode>
</div>
