<div id="sub-menu">
  <div id="header" routerLink="/" routerLinkActive="active" class="bottom-separator">
    <span class="back-icon">&#x3008;</span>{{title}}
  </div>

  <!-- Default Routing -->
  <div (click)="goToView('app-default-routing')" class="switch-row highlighted clickable bottom-separator">
    <div class="label half">Default Routing</div>
    <div class="switch half">
      {{defaultRouting()}}
      <span class="forward-icon">&#x3009;</span>
    </div>
  </div>

  <!-- Force HTTPS -->
<!--   <div class="switch-row highlighted bottom-separator">
    <div class="label">Force HTTPS</div>
    <div class="switch">
      <label class="label-switch">
        <input #forceHttps type="checkbox" [(ngModel)]="forceHttpsEnabled" (ngModelChange)="toggleForceHttps($event)"  />
        <div class="checkbox"></div>
      </label>
    </div>
  </div> -->

  <!-- WebRTC Leak Protection -->
<!--   <div class="switch-row highlighted bottom-separator">
    <div class="label">WebRTC Leak Protection</div>
    <div class="switch">
      <label class="label-switch">
        <input #webRtcLeakProtection type="checkbox" [(ngModel)]="webRtcLeakProtectionEnabled" (ngModelChange)="toggleWebRtcLeakProtection($event)" />
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
 -->
  <!-- Privacy Filter Settings -->
  <div (click)="goToView('app-privacy-filter')" class="switch-row highlighted clickable bottom-separator">
    <div class="label half">Privacy Filter Settings</div>
    <div class="switch half">
      <span class="forward-icon">&#x3009;</span>
    </div>
  </div>

  <!-- User Agent -->
  <div (click)="goToView('app-user-agent')" class="switch-row highlighted clickable bottom-separator">
    <div class="label half">User Agent</div>
    <div class="switch half">
      {{userAgentType}}
      <span class="forward-icon">&#x3009;</span>
    </div>
  </div>

  <!-- Logout -->
  <div class="switch-row highlighted clickable bottom-separator">
    <div class="label full">Logout</div>
  </div>
</div>
